@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";
@import 'ngx-toastr/toastr';




/* Minimalist gray theme */
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #e5e7eb;
  transition: background 0.2s, color 0.2s;

  background-image:
    linear-gradient(to right, #cbd5e1 1px, transparent 1px),
    linear-gradient(to bottom, #cbd5e1 1px, transparent 1px);
  background-size: 32px 32px;
}

/* Scoped modal background style */
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

