<nav class="bg-indigo-900 text-white opacity-50">
  <div class="flex justify-end">
    <a [routerLink]="['/dashboard']" routerLinkActive="active"
       class="px-4 py-2 rounded cursor-pointer border border-white font-semibold shadow transition-all hover:bg-indigo-700 hover:opacity-90 hover:border-indigo-300 hover:brightness-110">
      Dashboard
    </a>
    <a [routerLink]="['/gerenciamento']" routerLinkActive="active"
       class="px-4 py-2 rounded cursor-pointer border border-white font-semibold shadow transition-all hover:bg-indigo-700 hover:opacity-90 hover:border-indigo-300 hover:brightness-110 ml-2">
      Gerenciamento
    </a>
  </div>
</nav>
