<nav *ngIf="isLogged$ | async" class="bg-indigo-900 text-white opacity-50">
  <div class="flex justify-end">
    <a [routerLink]="['/dashboard']" routerLinkActive="active"
       class="px-4 py-2 cursor-pointer font-semibold transition-all hover:underline hover:underline-offset-4 duration-200">
      Dashboard
    </a>
    <a [routerLink]="['/gerenciamento']" routerLinkActive="active"
       class="px-4 py-2 cursor-pointer font-semibold transition-all hover:underline hover:underline-offset-4 duration-200 ml-2">
      Gerenciamento
    </a>
    <a (click)="logout()" class="px-4 py-2 cursor-pointer font-semibold transition-all hover:underline hover:underline-offset-4 duration-200 ml-2">
      Logout
    </a>
  </div>
</nav>
